[submodule "btdef"]
	path = btdef
	url = https://github.com/ikonopistsev/btdef.git
[submodule "btpro"]
	path = btpro
	url = https://github.com/ikonopistsev/btpro.git
[submodule "stomptalk"]
	path = stomptalk
	url = https://github.com/ikonopistsev/stomptalk.git
